
    <div class="event-page-topbar">
      <button class="role-button back-btn blue-btn" id="close-event-details" >Go back</button>
    </div>

    <h2 id="event-title"></h2>

    <div class="card">
      <h3>Date</h3>
      <p id="event-date-time"></p>
    </div>

    <div class="card">
      <h3>Location</h3>
      <p id="event-location"></p>
    </div>

    <div class="card">
      <h3>Description</h3>
      <p id="event-description"></p>
    </div>

    <div class="card">
      <h3>Practical Information</h3>
      <ul id="event-practical"></ul>
    </div>

    <div class="event-page-actions">
      <button class="button join-event-button" id="join-event-btn">
        Join event
      </button>
    </div>
 