<div class="create-club-or-event_box_content">
  <h2>Application to create a Club or Event</h2>

  <form id="application_for_club_or_event_form">
    <p>Your Details</p>
    <input type="text" placeholder="Your Name" required />
    <input type="email" placeholder="Email" required />
    <input type="text" placeholder="Education" required />
    <input type="text" placeholder="Phone Number" required />

    <p>Your Project</p>
    <div class="checkbox-group">
      <label>
        <input type="checkbox" id="checkBoxClub" />
        Create Club
      </label>
      <label>
        <input type="checkbox" id="checkBoxEvent" />
        Create Event
      </label>
    </div>

    <div class="form-row">
      <input type="text" placeholder="Club/Event Name" required />
      <input type="text" placeholder="Category" required />
    </div>

    <div class="form-row">
      <textarea placeholder="Tell us about your idea"></textarea>
      <textarea placeholder="What motivates you?"></textarea>
    </div>

    <div class="button-container button-container-horizontal">
      <button class="role-button" type="submit">Send application</button>
      <button class="role-button" type="button" id="close-page">Go Back</button>
    </div>
  </form>
</div>
