/* Specifik styling til 'club_owner' */

.club_owner .club-btn-create-event {
    display: inline-flex;
    min-height: 42px;
    padding: 10px 22px;
    border: 1px solid #42a846;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

.club_owner .club-btn-create-event:hover {
    background-color: #429b46;
    border-color: #3a8b3e;
    color: #ffffff;
}
